@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap");

:root {
  --light-blue: #1283b9;
  --dark-blue: #06435f;
}

.header {
  height: 400px;
  color: white !important;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/balaton_bg.jpg");
  background-size: cover;
  background-position: center;
}

h1,
h2,
th,
footer {
  font-family: "Marhey", sans-serif;
}

h1,
footer p {
  font-size: 3em;
  letter-spacing: 3px;
  text-shadow: 5px 5px 10px black;
  color: white !important;
}

@media (max-width: 992px) {
  h1 {
    font-size: 1.5em;
  }
}

h2 {
  text-decoration: underline;
  color: var(--light-blue);
  font-variant: small-caps;
}

nav {
  background-color: var(--dark-blue) !important;
}

.shadow-img {
  box-shadow: 1px 1px 3px var(--dark-blue);
}

.custom-table {
  width: 80%;
  box-shadow: 1px 1px 10px var(--dark-blue);
  border-spacing: 10px;
}

.main-title {
  background-color: var(--light-blue);
  color: white;
  text-align: center;
}

.second-title {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.img-grid-elem {
  filter: grayscale(60%);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.img-grid-elem:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(104%);
}

.balaton {
  grid-column: 1/3;
  grid-row: 1/3;
}

.zala {
  grid-column: 3/4;
  grid-row: 1;
}

.raba {
  grid-column: 4/5;
  grid-row: 1;
}

.dunakanyar {
  grid-column: 1;
  grid-row: 3;
}

.tiszato {
  grid-column: 2;
  grid-row: 3;
}

.tisza {
  grid-column: 3/5;
  grid-row: 2/4;
}

footer {
  position: relative;
}

footer p {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 1.5em;
}
